<head>
<body>
	<div>
		<ul>
				<li><a href="#" title="Home">Home</a></li>
				<li><a href="services.html" title="Services">Services</a></li>
				<li><a href="#" title="Pets">Pets</a></li>
				<li class="active"><a href="contactus.html" title="Contact Us">Contact</a></li>
				<li><a href="#" title="Sign Out">Log Out</a></li>
			</ul>
	<div>
		<form method = "GET" action = "contactus.css">
		<link rel="stylesheet" href="contactus.css">
			<img src ="1.png">
			<h2>Contact
			<br/>
			<br/>
			<p>
			<a href="icare.com" style="color:mediumturquoise;">icare.uc.tech@gmail.com</a><br>
			<br> Email
			<br/>
			<br/>
			<br/>
			<a href="icare.com" style="color:mediumturquoise;">(032)1234567</a><br>
			<br> Telephone
			
			<br>
			
			</br>
			</h2>
		</form>
			
	</div>
	<footer>
		<button type ="submit" title="Home Page">Return Home Page<a href="contactus.html"></button>
	</footer>
	
</body>
		<h3>
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			
			<i class="material-icons" style="font-size:48px;color:yellow;transform:scaleX(-1);" title="Contact Us">chat</i>
			
		</h3>
</html>
