<!DOCTYPE html>
 
<html>
 
<head>
    <title>
        Home Page
    </title>
	<link rel="stylesheet" href="static/home.css">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="footer, address, phone, icons" />
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
</head>
 
<body>
    <nav class="navbar background">
        <ul class="nav-list" >
            <div class="logo">
                <img src="static/images/icare.png">
            </div>
			<li><a href="#home" class="w3-bar w3-light-grey">Home</a></li>
            <li><a href="#web" class="w3-bar w3-light-grey">About Us</a></li>
            <li><a href="/pets/{{account}}" class="w3-bar w3-light-grey">Pets</a></li>
            <li><a href="/services/{{account}}" class="w3-bar w3-light-grey">Services</a></li>
        </ul>
 
        <div class="rightNav">
            <input type="text" name="search" id="search">
            <button class="btn-sm">Search</button>
			<button class="btn-sm" onclick="location.href='/login'" style="display:{{login}};">Login</button>
			<button class="btn-sm" onclick="location.href='/logout/{{account}}'" style="display:{{logout}};">Logout</button>
			{% if account != "" %}
				<p class="account">{{ account }}</p>
			{% endif %}
        </div>
    </nav>
 
    <section class="firstsection">
        <div class="box-main">
            <div class="firstHalf">
                <h1 class="big" id="web">
                   iCare Pet Services
                </h1>
				<p>iCare Pet Services is a mobile application and web application that records the data of the pet owners into the database.It keeps the records of the services that have been provided such as vaccination, deworming, vet assistance, pet breeding, and anti-flea.</p>
			</div>
        </div>
    </section>
 
    <section class="secondsection">
        <div class="box-main">
            <div class="secondHalf">
                <h2 class="text-big" id="tagline">
                    <br>Trusted care for your pet
                </h2>
				<p>
				Any pet owners need to cater care and needs for their pets. 
				We have noticed the struggles in this process by uneasy services 
				in gathering the data and giving services for the pets in any agencies, 
				businesses, and barangays. We are fixing the usual way that was in all the 
				data of a pet where recorded in a piece of papers or envelopes. So, introducing 
				iCare Pet Services. Our system caters to pets in vaccination, deworming, vet 
				assistance, pet breeding, and anti-flea. It keeps the records of the pet owner s
				information in the database. Their pets will be categorized depending on the type 
				of animal and will have unique identification for information access. Pet Owners 
				have no limits on the number of pets being registered into the database if 
				the pet is still alive.

				</p>
                
 
 
            </div>
        </div>
    </section>
	
	
</body>
 
</html>
<body>
		<header>
			<h1> For More Inquiries</h1>
			<h2>Need guidance about pet's situation</h2>
			<h2><span>Contact Us</span></h2>
		</header>


		<footer class="footer-distributed">

			<div class="footer-left">
    
				<h3>About<span>iCareServices</span></h3>

				<p class="footer-links">
					<a href="#">Home</a>
					|
					<a href="#">Blog</a>
					|
					<a href="#">About</a>
					|
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">© 2022 by iCare Group</p>
			</div>

			<div class="footer-center">
				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Different municipalities and within Cebu City</span></p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+65 912-345-6789</p>
				</div>
				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="icare.uc.tech@gmail.com">elimdaisy63@gmail.com</a></p>
				</div>
			</div>
			<div class="footer-right">
				<p class="footer-company-about">
					<span>About the company</span>
					We offer different services for pet's and promoting advance way of recording pet's information through technology</p>
				<div class="footer-icons">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-youtube"></i></a>
				</div>
			</div>
		</footer>
	</body>
</html>