<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{account}}'s inquiry sent</title>
</head>
<style type="text/css">
	body{
		background-image: url("{{url_for('static',filename='images/2.png')}}");
		background-repeat: no-repeat;
  		background-size: cover;
	}
	.box{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		background: rgba(255, 255, 255, 0.7);
		border-radius: 20px;
		text-align: center;
		padding: 50px;
	}
</style>
<body>
	<div class="box">
		<h1>Inquiry Sent</h1>
		<a href="/services/{{account}}">Go back</a>
	</div>
</body>
</html>