<!doctype html>
<html>
<head>
	<meta charset = "utf-8">
	<meta name = "viewport" content = "width-device-width, initial-scale = 1">
	<title>Registration</title>
	<link rel="stylesheet" href="static/registration.css">
</head>
<body>
	<div>
		<form method = "POST" action = "register_account">
			<img src ="static/images/1.png">
			<h2>Registration</h2>
			<br/>
			<p>
				<b>Last Name: </b>&nbsp;&nbsp;
				<input type = "text" name = "lastname" placeholder="Enter Lastname" size="23" required/>
				&emsp;&emsp;&emsp;
				<b>First Name: </b>&nbsp;&nbsp;
				<input type = "text" name = "firstname" placeholder="Enter Firstname" size="22" required/>
			</p>
			<p>
				<b>Username: </b>&nbsp;&nbsp;
				<input type = "text" name = "username" placeholder="Enter Username" size="23" required/>
				&emsp;&emsp;&emsp;
				<b>Birthdate: </b>&nbsp;&nbsp;&nbsp;&nbsp;
				<input type = "date" name = "birthdate" style="width: 224px" required />
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			</p>
			<p>
				<b>Address: </b>&emsp;&nbsp;&nbsp;
				<div class="address_line">
					<input type = "text" name = "house_no" placeholder=" House No." size="40" required />
					<input type = "text" name = "street" placeholder=" Street" size="40" required />
					<input type = "text" name = "barangay" placeholder=" Barangay" size="40" required />
					<input type = "text" name = "city" placeholder=" City" size="40" required />
					<input type = "text" name = "zip" placeholder=" Zip Code" size="40" required />
				</div>

			</p>
			<p>
				<b>Mobile No:</b>&emsp;			
				<input type = "tel" name = "number" placeholder="09123456789" min="0" step="1" maxlength="11" size="23" required />
				&emsp;&emsp;
				<b>Email address: </b>&nbsp;
				<input type = "text" name = "email" placeholder="email@email.com" size="22" required/>
			</p>
			<p>
				<b>Password:</b>&emsp;
				<input type="password" name="password" placeholder="&#128274; ********" size="23" required>
				&nbsp;&nbsp;
				<b>Confirm Password:</b>
				<input type="password" name="confirm" placeholder="&#128274; ********" size="22" required>
			</p>
			<br/>
			<button type ="submit" name = "register" value = "register">Register</button>
			<p style="text-align: center;"><a href="/login">Cancel</a></p>
		</form>
	</div>
	
</body>
</html>
